# Kopieren zu .env und ausfüllen
POSTGRES_USER=jagd
POSTGRES_PASSWORD=sicheres_passwort_hier
POSTGRES_DB=jagdscheissen

# Mindestens 32 Zeichen, zufällig generiert:  openssl rand -hex 32
JWT_SECRET=

# URL des Frontends (für CORS)
FRONTEND_URL=https://jagdscheissen.kruempelmann.dev
